.logo,
.logo img {
  height: 50px !important;
  width: auto !important;
}
.site-header-desktop {
  background-color: #5a122c !important;
  height: 90px !important;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

.nav-link,
.nav-link:visited,
.nav-link:active,
.nav-link.active {
  color: #fff !important;
}

.site-header-mobile {
  background-color: #5a122c !important;
  color: #fff !important;
  min-height: 40px !important;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
// Ocultar el botón de cambio de tema en todos los dispositivos
.theme-toggle-button,
.mr-3:has(.theme-toggle-button) {
  display: none !important;
}